{% extends "test_templates/test_base.html" %} {% block title %}Top Tracks{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<p> See your top 100 tracks in the short, medium or long term! </p>
<label for="scale">Choose length of data:</label>
<br></br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active mr-4">
                    <input type="radio" name="selected_value" value="short_term" id="short" autocomplete="off" onchange="TestTopRouteChange(this.value)"> Short Term
                </label>
                <label class="btn btn-secondary mr-4">
                    <input type="radio" name="selected_value" value="medium_term" id="medium" autocomplete="off" onchange="TestTopRouteChange(this.value)"> Medium Term
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="selected_value" value="long_term" id="long" autocomplete="off" onchange="TestTopRouteChange(this.value)"> Long Term
                </label>
            </div>
            

<script src="/static/javascript_files/test_track_route_change.js"></script>
<br></br>
<p> Click below to analyse you're favourite tracks and view their audio features!</p>
<a href='/test/top_features/short_term' class="btn btn-secondary" role="button" style="margin-top: 10px; background-color: #363733;">Audio Analysis</a>
<br></br>
<p> Click below to generatre a tailored playlst based on your top tracks! </p>
<a href='/test/make_playlist' class="btn btn-secondary" role="button" style="margin-top: 10px; background-color: #363733;">Make Playlist</a>
<br></br>

{{ table|safe }}


<script>
document.addEventListener('DOMContentLoaded', function() {
    var tables = document.querySelectorAll('.sortable');
    tables.forEach(function(table) {
        var headers = table.querySelectorAll('th');
        headers.forEach(function(header, columnIndex) {
            header.style.textAlign = 'left';
            header.addEventListener('click', function() {
                sortTable(table, columnIndex);
            });
        });
    });
});

function sortTable(table, columnIndex) {
    var rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    while (switching) {
        switching = false;
        rows = table.getElementsByTagName("tr");
        // Loop through all rows except the first (header row):
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("td")[columnIndex];
            y = rows[i + 1].getElementsByTagName("td")[columnIndex];
            // Check if the two rows should switch place:
            var xContent = isNaN(parseFloat(x.innerHTML)) ? x.innerHTML.toLowerCase() : parseFloat(x.innerHTML);
            var yContent = isNaN(parseFloat(y.innerHTML)) ? y.innerHTML.toLowerCase() : parseFloat(y.innerHTML);

            if (dir == "asc") {
                if (xContent > yContent) {
                    shouldSwitch = true;
                    break;
                }
            } else if (dir == "desc") {
                if (xContent < yContent) {
                    shouldSwitch = true;
                    break;
                }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
        } else {
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
        }
    }
}
</script>

{% endblock %}