{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1>Pls gib job, am poor</h1>

<a href='logout' class="btn btn-secondary" role="button" style="margin-top: 10px;">sign out</a>
<a href='getTracks' class="btn btn-secondary" role="button" style="margin-top: 10px;">Liked Songs</a>
<a href='top_tracks' class="btn btn-secondary" role="button" style="margin-top: 10px;">Top Tracks</a>
<a href='/' class="btn btn-secondary" role="button" style="margin-top: 10px;">Recommend songs based on playlist --TBD--</a>

{% endblock %}