{% extends "base.html" %} {% block title %}Mellometrics{% endblock %}

{% block content %}
<h1>Welcome To Melometrics, {{ name }}!</h1>

<p> Melometrics is a application designed to enhance your spotify experience.  </p>

<a href='get_tracks' class="btn btn-secondary" role="button" style="margin-top: 10px;">Liked Songs</a>
<a href='top_tracks_medium' class="btn btn-secondary" role="button" style="margin-top: 10px;">Top Tracks</a>
<a href='top_artists/short_term' class="btn btn-secondary" role="button" style="margin-top: 10px;">Top Artists</a>
<a href='recomendations' class="btn btn-secondary" role="button" style="margin-top: 10px;">Recomendations (DEV)</a>


{% endblock %}