{% extends "base.html" %} {% block title %}Log In{% endblock %}
{% block content %}

<h1>Welcome to Melometrics! </h1>
<p> Melometrics can help generate you top tracks, produce interactable audio data on your top songs and even make Playlists </p>
<p> This app is currently in developer mode. This means the spotify API will only allow specified users to log in for the time being. Please use the below log in details: </p>
<p> Please log in with your Spotify account to continue </p>

<a href='{{ authorisation }}' class="btn btn-secondary" role="button" style="margin-top: 10px;">Log in with Spotify</a>

<p> Melometrics can help generate you top tracks, produce interactable audio data on your top songs and even make Playlists </p>

<a href='/test/home' class="btn btn-secondary" role="button" style="margin-top: 10px;">Log into test version</a>

<h3>Submit access request</h3>

<form method="post">
    <div class="form-group">
        <label for="playlist_name">Email Address (must be the address associated with your spotify account)</label>
        <input
          type="text"
          class="form-control"
          id="playlist_name"
          name="playlist_name"
          placeholder="Enter Playlist name"
        />
        <label for="playlist_name">Additional information</label>
        <input
          type="text"
          class="form-control"
          id="playlist_name"
          name="playlist_name"
          placeholder="Enter Playlist name"
        />
    </div>
</form>    
{% endblock %}
