{% extends "base.html" %} {% block title %}Saved Songs{% endblock %}

{% block content %}
<h2 class="text-center mb-4">{{ title }}</h2>
<p class="text-center mb-4"> Here is the audio features of your last {{ number }} liked songs! Please click on any of the headers to sort by that value. </p>
{{ table|safe }}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var tables = document.querySelectorAll('.sortable');
    tables.forEach(function(table) {
        var headers = table.querySelectorAll('th');
        headers.forEach(function(header, columnIndex) {
            header.style.textAlign = 'left';
            header.addEventListener('click', function() {
                sortTable(table, columnIndex);
            });
        });
        setColumnWidths(table, ['20px','1200px','800px','100px','100px','100px','100px','100px','100px','200px','200px',]);
    });
});

function setColumnWidths(table, widths) {
    var headers = table.querySelectorAll('th');
    headers.forEach(function(header, index) {
        if (index < widths.length) { // Check to avoid out-of-bounds error
            header.style.width = widths[index];
        }
    });
}


function sortTable(table, columnIndex) {
    var rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    while (switching) {
        switching = false;
        rows = table.getElementsByTagName("tr");
        // Loop through all rows except the first (header row):
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            //x = rows[i].getElementsByTagName("td")[columnIndex].querySelector("img").getAttribute("data-value");
            //y = rows[i + 1].getElementsByTagName("td")[columnIndex].querySelector("img").getAttribute("data-value");
            // Check if the two rows should switch place:
            //var xContent = isNaN(parseFloat(x.innerHTML)) ? x.innerHTML.toLowerCase() : parseFloat(x.innerHTML);
            //var yContent = isNaN(parseFloat(y.innerHTML)) ? y.innerHTML.toLowerCase() : parseFloat(y.innerHTML);
            //xContent = parseFloat(x);
            //yContent = parseFloat(y);
            var xCell = rows[i].getElementsByTagName("td")[columnIndex];
            var yCell = rows[i + 1].getElementsByTagName("td")[columnIndex];
            var imgX = xCell.querySelector("img");
            var imgY = yCell.querySelector("img");

            x = imgX ? imgX.getAttribute("data-value") : xCell.textContent;
            y = imgY ? imgY.getAttribute("data-value") : yCell.textContent;

            // Attempt to parse the content as numbers, fall back to string comparison if NaN
            var xContent = parseFloat(x);
            var yContent = parseFloat(y);

            if (isNaN(xContent) || isNaN(yContent)) {
                xContent = x.toLowerCase();
                yContent = y.toLowerCase();
            }


            if (dir == "asc") {
                if (xContent > yContent) {
                    shouldSwitch = true;
                    break;
                }
            } else if (dir == "desc") {
                if (xContent < yContent) {
                    shouldSwitch = true;
                    break;
                }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
        } else {
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
        }
    }
}
</script>

{% endblock %}